---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sabnzbd
  namespace: sabnzbd
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`sabnzbd.pxldi.de`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
          namespace: traefik
      services:
        - name: sabnzbd
          port: 8080
  tls:
    certResolver: letsencrypt
