apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 39.x
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 12h
  
  install:
    createNamespace: true
    remediation:
      retries: 3
  
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  
  values:
    deployment:
      replicas: 1

    ports:
      web:
        port: 8000
        expose:
          default: true
        exposedPort: 80
        protocol: TCP
      
      websecure:
          port: 8443
          expose:
            default: true
          exposedPort: 443
          protocol: TCP
          http3:
            enabled: true
      
      metrics:
        port: 9100
        expose:
          default: false
        protocol: TCP

    service:
      type: LoadBalancer
    
    logs:
      general:
        level: INFO
      access:
        enabled: true

    ingressRoute:
      dashboard:
        enabled: false

    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
        publishedService:
          enabled: true

    persistence:
      enabled: true
      storageClass: local-ssd
      size: 1Gi
      path: /data
    
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi