apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik
resources:
  - namespace.yaml
  - helmrelease.yaml
  - dashboard-secret.yaml
  - middleware-auth.yaml
  - dashboard-ingress.yaml