apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
  namespace: openebs
spec:
  interval: 30m
  chart:
    spec:
      chart: openebs
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: openebs
        namespace: flux-system
      interval: 12h
  
  install:
    createNamespace: true
    remediation:
      retries: 3
  
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  
  values:
    localpv-provisioner:
      enabled: true
      localpv:
        image:
          registry: openebs
          repository: provisioner-localpv
          tag: 4.2.0
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false

    zfs-localpv:
      enabled: false

    lvm-localpv:
      enabled: false

    mayastor:
      enabled: false
    
    ndm:
      enabled: false
    
    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: false
      replicated:
        mayastor:
          enabled: false