apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflare-ddns
  namespace: cloudflare-ddns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflare-ddns
  template:
    metadata:
      labels:
        app: cloudflare-ddns
    spec:
      containers:
      - name: cloudflare-ddns
        image: oznu/cloudflare-ddns:latest
        env:
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: cloudflare-credentials
              key: CLOUDFLARE_API_TOKEN
        - name: ZONE
          valueFrom:
            secretKeyRef:
              name: cloudflare-credentials
              key: CLOUDFLARE_ZONE
        - name: SUBDOMAIN
          valueFrom:
            secretKeyRef:
              name: cloudflare-credentials
              key: CLOUDFLARE_SUBDOMAIN
        - name: PROXIED
          valueFrom:
            secretKeyRef:
              name: cloudflare-credentials
              key: CLOUDFLARE_PROXIED
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            cpu: 50m
            memory: 64Mi