---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: radarr
spec:
  interval: 30m
  chart:
    spec:
      chart: radarr
      version: "20.3.0"
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    image:
      repository: ghcr.io/onedr0p/radarr-develop
      tag: develop
      pullPolicy: Always
    env:
      TZ: "Europe/Berlin"
      RADARR__LOG_LEVEL: "info"
      RADARR__INSTANCE_NAME: "Radarr"
    envFrom:
      - secretRef:
          name: radarr-credentials
    service:
      main:
        ports:
          http:
            port: 7878
    ingress:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: pvc
        storageClass: local-ssd
        accessMode: ReadWriteOnce
        size: 5Gi
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.0.153"
            path: "/mnt/media"
