---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sonarr
  namespace: sonarr
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`sonarr.pxldi.de`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
          namespace: traefik
      services:
        - name: sonarr
          port: 8989
  tls:
    certResolver: letsencrypt
